:root {
  --maincolor: #395144;
  --secondary: #f0ebce;
  font-size: 16px;
}

body {
  background-color: var(--secondary);
}

nav {
  background-color: var(--maincolor);
}

.nav-item .nav-link {
  color: var(--secondary);
}

.navbar-brand img {
  margin-bottom: 3px;
}

nav img {
  width: 140px;
  height: auto;
}

nav button img {
  width: 20px;
  margin-bottom: 2px;
}

.logo-form img {
  width: 15%;
  border-radius: 50%;
}

.form-style {
  background-color: var(--maincolor);
  color: var(--secondary);
  padding: 20px;
  border-radius: 5px;
  width: 30%;
}

textarea {
  max-width: 100%;
  max-height: 200px; /* Maximum height */
  min-width: 100%;
  min-height: 100px; /* Minimum height */
}

.upload {
  padding-top: 3rem;
}

#updateInfo {
  display: none;
}

#updatePfp {
  display: none;
}

.pfp {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pfp img {
  width: 10%;
  border-radius: 50%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}
