:root {
  --maincolor: #395144;
  --secondary: #f0ebce;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: var(--secondary);
}

nav {
  background-color: var(--maincolor);
}

.nav-item .nav-link {
  color: var(--secondary);
}

.navbar-brand img {
  margin-bottom: 3px;
}

nav img {
  width: 140px;
  height: auto;
}

nav button img {
  width: 20px;
  margin-bottom: 2px;
}

.logo-form img {
  width: 15%;
  border-radius: 50%;
}

.form-style {
  background-color: var(--maincolor);
  color: var(--secondary);
  padding: 20px;
  border-radius: 5px;
  width: 500px;
}

textarea {
  max-width: 100%;
  max-height: 200px; /* Maximum height */
  min-width: 100%;
  min-height: 100px; /* Minimum height */
}

.upload {
  padding-top: 3rem;
}

.card-text {
  white-space: pre-wrap;
  overflow: auto;
  max-height: 200px;
}

#updateInfo {
  display: none;
}

#updatePfp {
  display: none;
}

.pfp {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pfp img {
  width: 10%;
  border-radius: 50%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post-feed {
  display: flex;
  width: 100%;
  justify-content: center;
}
.card {
  display: flex;
  width: 500px;
  margin-bottom: 20px;
}

.title-for-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.fixed-size {
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.error-msg {
  padding-top: 20px;
}

@media only screen and (max-width: 550px) {
  .card {
    width: 100%;
  }

  .form-style {
    margin-inline: 24px;
    width: 100%;
  }
}
